{% extends "base.html" %}
{% load static %}
{% block title %}
    Обработка датасетов
{% endblock %}
{% block content %}
<style>
   .dataprocess_radio {
    list-style: none;
    padding-left: 0;
   }
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Обработка датасетов
        <small>XLSX</small>
      </h1>
      <ol class="breadcrumb">
        <li><a><i class="fa fa-files-o"></i> Обработка датасетов</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
<!-- Main row -->
      <div class="row">
        <!-- Left col -->
      <form action="{{ file_name }}" method="post">
        {% csrf_token %}

        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->

          <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Обработка персональных данных</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- radio -->
                <div class="form-group">
                    {{ form.personal }}

                </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Заполнение миссингов</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form.missing }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Обработка выбросов</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form.outlayers }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

            <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Устранение линейных зависимостей</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form.linear_dep }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Формирование целевых переменных</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form.target_val }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Удаление факультативов</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form.facult }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


            <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Удалить неинформативные признаки</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <label>В ручном режиме</label>
                <!-- checkbox -->
                <div class="form-group">
                    {{ form.hand_not_inf }}

                </div>

                <label>В автоматическом режиме</label>
                {{ form.not_inf }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->




          <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <button type="submit" class="btn btn-block btn-success btn-lg">Обработать датасет</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


        </section>
        <!-- right col -->

      </form>
      </div>
      <!-- /.row (main row) -->
{% endblock %}
